<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
	    <div th:replace="/fragments/styling :: head-style" ></div>
</head>
<body>
<div class="container">
<div th:replace="fragments/navbar :: navbar" ></div>
			<div class="row">
				<div class="col-md-6">
					<h2>Your post has been deleted.</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md">
					
				</div>
			</div>
	</div>
			
	<div th:replace="/fragments/styling :: body-links" ></div>
</body>
</html> 